*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'UndertaleFont';
    src: url('/cell04/font/runede-uniform-alternate.ttf') format('truetype');
}

body {
    font-family: 'UndertaleFont',monospace;
    line-height: 1.6;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    transition: font-size 0.5s ease, color 0.2s ease;
}

.navbar a:hover {
    color: yellow;
    font-size: 20px;
}

section {
    min-height: 100vh;
    padding: 100px 20px 40px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about {
    background-image: url(https://i.pinimg.com/736x/25/19/24/251924515e221b1a70bfd30753e14cbd.jpg);
    background-position: top;
}

#showcase {
    background: #000000;
}

#contact {
    background-image: url(https://i.pinimg.com/originals/9c/3f/60/9c3f60365da4949c7547cd11f8d29b10.gif);
    background-position: bottom;
    color: white;
}

#about img {
    width: 250px;
    border-radius: 50%;
    border: 4px solid white;
    margin-top: 20px;
    text-align: center;
}

#about p {
    background: black;
    color: white;
    border: 4px solid white;
    padding: 20px;
    width: 400px;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project {
    background: black;
    padding: 15px;
    border: 4px solid #ffffff;
}

.project h3{
    color: white
}

.project p{
    color: white;
}

.contact-links a {
    background: black;
    color: white;
    border: 4px solid white;
    padding: 20px;
    width: 400px;
    font-size: 18px;
    line-height: 1.5;
    margin: 20px auto;
    text-align: center;
    transition: font-size 0.5s ease, color 0.2s ease;
}

.contact-links a:hover {
    color: yellow;
    font-size: 20px;
}

@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin: 10px 0;
    }
}
